---
import Duck from "../components/duck.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="McLaren MP4/6 - Astro">
  <section
    class="w-3/4 h-1/2 md:h-3/4 bg-red-rounded-md flex flex-col items-center gap-20 justify-center border"
  >
    <h1 class="font-bold text-2xl p-10">McLaren MP4/6</h1>
    <Duck />
  </section>
</Layout>
