<div class="canvas-container relative z-20 h-1/2 w-full lg:-mt-24">
  <canvas id="mclaren" class="absolute inset-0 h-full w-full"></canvas>
  <div id="loader" class="loader"></div>
</div>
<script src="./main.js"></script>
